    </main>

    <footer class="site-footer h-card">
        <div class="wrapper">
            <div class="footer-col-wrapper">
                {% if site.github.is_project_page %}
                <a href="{{ site.github.repository_url }}">View on GitHub</a>
                {% endif %}
                <br>
                Made with <span class="heart">♥</span> by <a href="https://lucasbecker.de">Lucas Becker</a>
                <br>
                <span class="mirror-v">©</span> {{ 'now' | date: "%Y" }}
            </div>
        </div>
    </footer>

</body>
</html>