@charset "utf-8";

::selection {
  background: rgba($brand-color, 0.3);
}

/* Reset basic elements */
*, ::before, ::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Basic styling */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  scrollbar-color: $background-color-compl $background-color;
}

p {
  line-height: 1.6em;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 3;
}

main {
  /* Default value of `display` of `main` element is 'inline' in IE 11. */
  display: block;
}

/* Images */
img {
  max-width: 100%;
  vertical-align: middle;
  margin: 5px 0 5px 0;
  @include box-shadow;
  @include border-radius;
}

/* Figures */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/*Lists */
ul, ol { 
  // margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

h2 + ul {
  width: 100%;
  margin: 2em 0 1em;
  padding-left: 1em;
  list-style-position: inside;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: $base-font-family-mono;
  font-weight: $base-font-weight + 200;
  margin-top: $spacing-unit;
}

h2 {
  $shadow-col: #000000;
  font-size: 3em;
  position: relative;
  right: 65px;
  /* Will override color (regardless of order) */
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: $shadow-col;
  text-shadow: 
    1px 1px 0px $shadow-col,
    2px 2px 0px $shadow-col,
    3px 3px 0px $shadow-col,
    4px 4px 0px $shadow-col,
    5px 5px 0px $shadow-col,
    6px 6px 0px $shadow-col,
    7px 7px 0px $shadow-col,
    8px 8px 0px $shadow-col;

  a {
    @include transition;
    
    &:hover {
      -webkit-text-fill-color: $brand-color;
      text-decoration: none;
      @include transition;
    }
  }
}

h3, h4 {
  font-size: 1.5em;
  letter-spacing: -0.05em;
}

h3 {
  position: relative;
  right: 28px;
  padding-top: 1em;

  &::before {
    content: "";
    z-index: -1;
    width: 100px;
    height: 10px;
    position: absolute;
    top: 0.8em;
    left: -0.5em;
    border-top: 1.2px solid $brand-color;
    border-left: 1.2px solid $brand-color;
    padding-bottom: 10px;
  }
}

/* Links */
a {
  color: $brand-color;
  text-decoration: none;
  @include transition;

  &:visited {
    color: $brand-color;
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
    @include transition;
  }
  
  &[href*="//"]:not([href*="runxel.github.io"])::after {
    content: "↗";
  }
  // sadly doesn't work :(
  // &[href$=".gh"]::after {
  //   content: url(/img/icons/gh/gh_file.svg);
  // }
}


/* Blockquotes */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/* Code formatting */
pre,
code {
  @include relative-font-size(0.9375);
  font-family: $base-font-family-mono;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: rgb(216, 240, 227);
  font-size: 90%;
  box-shadow:
    1px 1px 0 #959da55c,
    inset 0.5px 0.5px 0 0.5px #ffffffa1;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/* Keyboard */
kbd {
  background-color: #fafbfc;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 4px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  padding: 0px 5px;
  vertical-align: middle;
  font-size: 80%;
  position: relative;
  bottom: 3px;
  font-family: $base-font-family-mono;
}


/* Wrapper */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
  max-width:         calc(#{$content-width} - (#{$spacing-unit}));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  @extend %clearfix;

  @media screen and (min-width: $on-large) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}

/* Clearfix */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Icons */
.orange {
  color: $orange-color;
}

.grey {
  color: $grey-color;
}

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: currentColor;
  padding: 5px 3px 2px 5px;
  vertical-align: text-bottom;
}

/* Tables */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
  @include box-shadow;

  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}
